.recommendedvideos {
    flex: 0.8;
    background-color: #fafafa;
    padding: 40px 20px;
    padding-bottom: 0;
}

.recommendedvideos__videos {
    display: flex;
    flex-wrap: wrap;
}

.recommendedvideos > h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
